b, strong {
  font-weight: 700;
  color: #14b3d9;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.jumbotron .h1, .jumbotron h1 {
  color: #14b3d9;
}

/*ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  margin-left: -25px;
 /* list-style-type: none;*/
}*/

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  margin-left: -20px;
  /* list-style-type: none; */
  font-size: 18px;
}

.h3, h3 {
  font-size: 24px;
  color: #14b3d9;
  text-align: left;

}

a {

	color: #333232;
}

#contact a{
	color: #14b3d9;
}

.h3, h3 {
  font-size: 24px;
  color: #14b3d9;
  margin-left: 25px;
}

#love{
	text-align: center;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -15px;
  font-size: 30px;
}


.h4, h4 {
  font-size: 18px;
  text-align: left;
  margin-left: 25px;
}

.h5, h5 {
  font-size: 14px;
  text-align: left;
  margin-left: 25px;

}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
  margin-left: -15px;
  font-size: 17px;
}

li {
  /* list-style-type: none; */
  text-align: left;
  font-size: 12px;
}

.column-agend {
	margin-left: -15px;
}


#fellow-communication {
  text-align: left;
  margin-left: 25px;
  font-size: 17px;
}

#coming{
	margin-left: 15px;
}

img {
  vertical-align: middle;
  height: 100px;
  margin: 10px;
/*  border-radius: 3px;
  border: 3px solid white;*/
}
