
header h2 img{
	height: 100px;
	width: 200px;
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
}


header h2{
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;
	font-size: 40px;
	text-align: right;
	color: #333232;
	margin-right: 10px;
}

#welcome-image{
	 background: url(images/welcome2.jpg) no-repeat center center fixed; 
	 height: 450px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	
    /*text-align: center;*/
}

#welcome-image img{
	 background: url(images/welcome.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#welcome-text{
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
	color: #333232;
}


footer #copy{
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;

	font-size: 15px;
	text-align: center;
	color: #14b3d9;
	float: center;
}
body #contact{
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;

	font-size: 17px;
	text-align: center;
	color: #333232;


}


body #information {
	width: 100%;
	font-size: 15px;
	overflow: hidden;
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;
	color: #333232;

	text-align: center;
}

#column-pre-work {
	float: left;
	color: #333232;
	text-align: center;
	marg

}

#column-agenda{
	float: left;
	margin-left: 170px;
	/*margin-right: 150px;*/
	color: #333232;
	text-align: left;


}

#column-resouces{
	float: left;
	color: #333232;
	text-align: center;


}

.title{
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;	
	font-size: 20px;
	text-align: center;
	color: #333232;

}

.slash{
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;
	font-size: 23px;
	color: #14b3d9;
}

#fellow-communication{
	text-align: center;
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;
	color: #333232;


}

#fellow-title{
	font: 16px/20px "NimbusSanCon-Reg", Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #333232;

}

a{
	/*color: black;	*/
	color: #333232;

}

footer {
  position: relative;
  z-index: 101;
  background: #333232;
  overflow: hidden;
  color: #fff;
  font: 18px/23px "NimbusSan-Reg", Arial, Helvetica, sans-serif;
}

footer ul{
	list-style-type: none;
	}

footer li{
	float: left;
	overflow: auto;
	margin-left: 5px;
	}

footer li img {
	width: 20px;
	height: 20px;
	color: #000000;
}

.find-course {
  z-index: 2;
  left: 50%;
  top: 55%;
  position: absolute;
  transform: matrix(1, 0, 0, 1, -84, 0);
  -webkit-transform: matrix(1, 0, 0, 1, -84, 0);
  border: 3px solid white;

  border-radius: 5px;
  /*color: #14b3d9;*/
  color: white;
  font-family: NimbusSanCon-Reg, Arial, Helvetica, sans-serif;
  font-size: 18px;
  height: 30px;
  line-height: 20px;
  min-width: 168px;
  padding: 9px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 168px;
}
